<div *ngIf="authService.isLoggedIn()">
  <form (ngSubmit)="createRoom()">
    <input [(ngModel)]="name" placeholder="Room Name" name="name">
    <input [(ngModel)]="password" type="password" placeholder="Password" name="password">
    <button type="submit" [disabled]="isLoading">Create Room</button>
  </form>

  <div *ngIf="error" style="color: red">{{ error }}</div>

  <div *ngIf="isLoading">Loading rooms...</div>
  <div *ngIf="!isLoading && rooms.length > 0">
    <h3>Your Rooms:</h3>
    <ul>
      <li *ngFor="let room of rooms">
        <ng-container *ngIf="editingRoomId !== room.roomCode; else editMode">
          {{ room.name }}
          <button (click)="viewRoom(room.roomCode)">View Room</button>
          <button (click)="updateRoom(room)">Edit Room</button>
          <button (click)="deleteRoom(room.roomCode)">Delete Room</button>
        </ng-container>
        <ng-template #editMode>
          <input [(ngModel)]="editName" placeholder="Room Name" name="editName" required>
          <input [(ngModel)]="editPassword" type="password" placeholder="Password" name="editPassword">
          <button (click)="saveRoom()" [disabled]="isLoading">Save</button>
          <button (click)="cancelEdit()" [disabled]="isLoading">Cancel</button>
        </ng-template>
      </li>
    </ul>
  </div>
  <div>
    <h3>Join Room</h3>
      <button (click)="joinRoom()">Join Room</button>
  </div>
  <div>
    <h3>Logout</h3>
    <button (click)="logOut()">Log out</button>
  </div>
  <div *ngIf="!isLoading && rooms.length === 0">
    <p>No rooms created yet.</p>
  </div>
</div>